.wrapper{
    width: 90%;
    margin: 10% auto;
    position: relative;
    justify-content: center;
}
ion-item{
    margin: 8% auto 3%;
    --background:#e6e6e6;
    border-radius: 8px;
}

ion-button:active{
    --background: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
    margin: 6% auto 3%;
    width: 100%;
    font-size: 16px;
}

ion-button{
    --background: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
    margin: 6% auto 3%;
    width: 100%;
    font-size: 16px;
   
}
ion-button:disabled{
    --background:#e6e6e6;
    margin: 6% auto 3%;
    width: 100%;
    font-size: 16px;

}

h1{ 
    padding: 0%;
    width: max-content;
    color: aqua;
 
}

h4{
    color: rgba(92, 97, 97, 0.705);
}

ion-footer{
    padding: 8px;
    text-align: center;
    font-weight: 600;

}

form{
    padding: 4%;
    width: auto;
    margin: 4px auto;
}